
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/* common css re use */
.font-inter{
     font-family: "Inter", sans-serif;
}
.font-inter2{
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-size: 22px;
   color: rgba(0, 0, 0, 0.5);
}
.btn:hover{
  background: rgb(249, 111, 65);
}
.plants-font{
    font-family: "Noto", Serif;
    font-size: 50px;
    font-weight: 700;
 
}
.section-gap{

    margin: 120px auto;
}
.highlight-color{
    color: rgb(233, 90, 8);
}

/* navbar style */
.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 30px auto;
   
}
.logo-left{
    text-align:left ;
}
.navitems-right{
    text-align: right;
    
}
.nav-links{
   display: flex;
   gap: 38px;
}
.nav-links a{
    color: rgb(137, 135, 161);
    font-weight: 400;
    
}


.nav-links a:hover{
    color: black;
    font-weight: bold;
}


/* banner section style */

.banner-section{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    
    
}
.banner-heading span{
font-family: "Noto Serif", serif;
font-size: 65px;
font-weight: 700;
line-height: 89px;
}
.banner-heading{
    max-width: 570px;
}




/* plants option */
.container-plants{
     max-width: 1140px;
     margin: 30px auto;
}
.our-plants{
    text-align: center;
}
.our-plants p{
    padding: 6px 126px;
    margin-bottom: 49px;
}



.card-plant-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    
}
.card-plant img{
    max-width: 100%;
}

.card-plant p,h5{
  margin: 20px 0;
  font-size: 22px;
  color:  rgb(17, 17, 17);
  
}

.card-plant .btn{
    width: 100%;
    font-size: 16px;
}



/* plants lover */
.container-plants-lover{
  margin-top: 200px;
}
.plants-lover{
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  gap: 60px;
}
.plants-content{
  max-width: 540px;
  width: 100%;
  margin: 38px auto;
  
}

.plants-content ul li{
  list-style-type:disc;
  margin: 20px 0;
  line-height: 27px;
  
}
.plants-content ul{
  padding-left: 35px;
}
.plants-picture{
  position: relative;
}
.badge{
  position: absolute;
  width: 286px;
  height: 286px;
  border-radius: 100%;
  left: 350px;
  top: -120px;
  box-shadow: -4px 6px 3px 0px rgba(101, 95, 95, 0.25);
}



/* latest deal */
.latest-deal-container{
     max-width: 1140px;
     margin: 200px auto;
}
.latest-deal{
    text-align: center;
}
.latest-deal p{
    padding: 6px 126px;
    margin-bottom: 49px;
}
.latest-deal-pic-container{
  display: flex;
  max-width: 1140px;
  margin: 50px auto ;
  gap: 20px;
 
}

.bloom-plant{
  width: 100%;
  padding: 65px 49px;
  border-radius: 10px;
  color: white;
  white-space: nowrap;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  background-image: url(./assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ana-plant{

  width: 100%;
  padding: 66px 49px;
  border-radius: 10px;
  color: white;
  white-space: nowrap;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  background-image: url(./assets/deal-ana.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.deal-left-side{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.latest-deal-pic-container h3{
  font-family: "Noto Serif", serif;

}
.bloom-plant a,
.ana-plant a,
.deal-right-side a{
  text-decoration: underline;
  padding: 50px;
}
.bloom-plant h3,
.bloom-plant a,
.ana-plant h3,
.ana-plant a,
.deal-right-side h3,
.deal-right-side a{
  color: #fff;
  position: relative;
  z-index: 1;
 
}

.deal-right-side{
  max-width: 753px;
  width: 100%;
  padding: 50px;
  border-radius: 10px;
  color: white;
  white-space: nowrap;
  text-align: center;
  line-height: 50px;
  font-size: 35px;
 display: grid;
 place-items: center;
  border-radius: 10px;
  background-image: url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 

}

.bloom-plant::before,
.ana-plant::before,
.deal-right-side::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* dark overlay */
  border-radius: 10px;
  z-index: 0;
}
.bloom-plant,
.ana-plant,
.deal-right-side {
  position: relative;
  overflow: hidden;
}



/* join section */
.join-container{
    max-width: 1440px;
    height: 533px;
    margin: 0 auto;
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.join-section {
  width: 830px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 160px 20px;
 
}
.join-header{
  font-family: "Noto Serif", serif;
  font-size: 40px;
  color: white;
  
}
.join-header h2{
    margin: 30px auto;
    padding: 0px 10px;
    
}
.search-option {
  display: flex;
  gap: 0px;
  width: 100%;
  align-items: center;
}
.search {
  flex: 1;
  height: 50px;
  padding: 15px;
  resize: none;
}
.btn {
  width: 186px;
  height: 50px;
  background: rgb(233, 90, 8);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}






/* footer */

.footer-main{
    max-width: 1440px;
    padding: 50px 60px;
    margin: 0 auto;
    
   
    
}
.footer-content{
    width: 1120px;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    gap: 40px;
}
.footer-part1{
    width: 359px;
}

.footer-part2{
    width: 85px;
    /* white-space: nowrap; */
}
.footer-part3{
    width: 128px;
    /* white-space: nowrap; */
   
}
.footer-list li{
   margin-bottom: 30px;
}
.footer-part4{
    display: flex;
    
   
    
}
.footer-part4 img{
    width: 36px;
    height: 36px;
    padding: 5px;
  
   
}
.footer-content a{
    color: rgb(107, 114, 128);
    font-size: 16px;
    
}



/* responsive */

/* navbar responsive */


@media (max-width: 576px) {
    header, main, footer{
        max-width: 576px;
        margin: 0 auto;
    }
   
    .navbar-section{
        padding: 0px 16px;
    }
    .navbar-section img{
        width: 63px;
    }
    
    .nav-links li {
        display: none;
    }

    /* Show only the last item (Cart) */
    .nav-links li:last-child {
        display: inline-block;
    
    }
    .nav-links li a{
      color: black;
    } 

    /* banner section */
    .banner-section{
         flex-direction: column-reverse;
         margin-top: 28px;
       
       
    }
    .banner-section img,
    .join-container {
    max-width: 100%;
    height: auto;
    
  }

  .banner-heading{
    padding: 10px 16px;
    margin-top: 28px;
    text-align: left;
   
  }
  
  .banner-heading span{
    width: 100%;
    font-size: 25px;
    line-height: 33px ;
  }
  .banner-heading p{
    font-size: 18px;
    margin-top: 20px;
  }



  /* card */

  .card-plant-container{
    grid-template-columns: repeat(2, 1fr);
    padding: 0 16px;
    
  }

  .our-plants h3,
  .latest-deal h2,
  .plants-content h1{
        font-size: 24px;
        
  }
  .our-plants p,
  .latest-deal p,
  .plants-content ul{
    font-size: 18px;
    padding: 0px 30px;
    margin-top: 20px;
  }
 .plants-content br{
    display: none;
  }


  /* plants lover */
.container-plants-lover{
  margin-top: 40px;
}
.plants-content{
  margin-top: 5px;
}
  

  .plants-lover{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 16px;
  }
 

  .plants-picture img {
    max-width: 100%;
    height: auto;
  }


    .badge {
    display: none;
  }



  /* deal section */
.latest-deal-container{
  margin: 16px auto;
}
 .latest-deal-pic-container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 20px;
  } 
  .deal-right-side{
    
  width: 100%;
  padding: 66px 49px;
  border-radius: 10px;
  color: white;
  white-space: nowrap;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  }

  /* join */
    .join-section {
      max-width: 321px;
      padding: 50px 30px;
   
  }

  .join-header h2 {
    font-size: 20px;
  }

  .search-option {
    flex-direction: row;
    align-items: center;
    
  }

  .search {
    width: 218px;
    border: none;
  }

  .btn {
    width: 89px;
    padding: 0px 10px;
  }


  /* footer */

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  gap: 10px;
}
.footer-main, .footer-list{
    padding: 0;
}
.footer-part1 img{
  width: 180px;
  margin: 16px 0;
}

.footer-content > div {
  text-align: left;
  margin: 10px 0;
  
}


  
}