
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;

}

/* common css re use */
.font-inter{
     font-family: "Inter", sans-serif;
}
.font-inter2{
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-size: 22px;
   color: rgba(0, 0, 0, 0.5);
}
.section-gap{

    margin: 120px auto;
}
.highlight-color{
    color: rgb(233, 90, 8);
}

/* navbar style */
.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
   
}
.logo-left{
    text-align:left ;
}
.navitems-right{
    text-align: right;
    
}
.nav-links{
   display: flex;
   gap: 38px;
}
.nav-links a{
    color: rgb(137, 135, 161);
    font-weight: 400;
    
}


.nav-links a:hover{
    color: black;
    font-weight: bold;
}


/* banner section style */

.banner-section{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    
    
}
.banner-heading span{
font-family: "Noto Serif", serif;
font-size: 65px;
font-weight: 700;
line-height: 89px;
}
.banner-heading{
    max-width: 570px;
}




/* footer */
footer{
    width: 100%;
   
.footer-content{
    max-width: 1120px;
    padding: 50px 160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
.footer-content a{
    color: rgb(107, 114, 128);
    font-size: 16px;
    
}
.footer-part2 li, .footer-part3 li{
   display: flex;
    line-height: 30px;
    align-items: center;
   
}

.footer-part4{
    display: flex;
    gap: 10px;
   
   
}
.footer-part4 img{
    width: 36px;
    height: 36px;
    padding: 5px;
}




/* responsive */

/* navbar responsive */


@media (max-width: 576px) {
    .navbar-section{
        padding: 0px 16px;
    }
    .navbar-section img{
        width: 63px;
    }
    
    .nav-links li {
        display: none;
    }

    /* Show only the last item (Cart) */
    .nav-links li:last-child {
        display: inline-block;
    
    }

    /* banner section */
    .banner-section{
         flex-direction: column-reverse;
         margin-top: 28px;
       
       
    }
    .banner-section img {
    max-width: 100%;
    height: auto;
    
  }

  .banner-heading{
    padding: 10px 16px;
    margin-top: 28px;
    text-align: left;
   
  }
  
  .banner-heading span{
    width: 100%;
    font-size: 25px;
    line-height: 33px ;
  }
  
  
}